# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gKit files & directories
batch_perf*
bbox.obj
bigguy*
compute_kit*
compute_tutorial*
cube*
debug*
Doxyfile
droid.ttf
filter*
filter_tutorial1*
geometry.obj
image_viewer*
Makefile
materials.mtl
mesh_viewer*
mini_fragment*
mini_gkit*
mini_gl3core*
mini_vertex*
out.png
README.md
raytracing*.png
screenshot*.png
shader_kit*
tessellation*
tp1*
tp2*
tp3
tuto_ray1*
tutorial*
*.ttf

Bigguy/
compute/
doc/
gKit/
images/
local/
obj/
shaders/